 body { margin:0; padding:0; }
  #header { position:absolute; top:0; bottom:0; width:100%; height: 50px;background-color:#e3e3e3;text-align: center;} 
  #map { position:absolute; top:50px; bottom:0; width:100%; }
  #logo { position:absolute;  left:15px;bottom:20px; width:143px; height: 45px;text-align: center;}  
  #disclaimer { color:black;position:absolute;  right: 10px;bottom:0; padding:0 10px 0 10px;background-color: white;} 

  #back { 
	left: 70px;
	top: 70px;
	position: fixed;
	z-index: 99;}

	#title { 
	
	margin-top: 10px;
	font-size: 30px;
	font-weight: bolder;
	
	z-index: 99;}

	
	#foot_right{
		position: absolute;
		top: 0;
		right: 10px;
		width: 143px;
		height: 45px;
	}
	
.image{
	margin: 50px 50px 0px 50px;
	display:inline-block;
	text-align:center;
}

.image2{
	margin: 0px 50px 0px 100px;
	display:inline-block;
	text-align:center;
}


.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
	
